/* src/app/find-user/find-user.component.css */
.search-container {
  position: relative;
  width: 400px;
  margin: 0 auto;
}

.search-bar {
  display: flex;
  margin-top: 40px;
  align-items: center;
  border: 2px solid white;
  border-radius: 25px;
  background-color: black;
  padding: 5px 10px;
  width: 100%;
}

.search-bar input {
  flex: 1;
  border: none;
  background: transparent;
  color: white;
  font-size: 16px;
  outline: none;
}

.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #14d578;
  border-radius: 100px;
}

.dropdown {
  position: absolute;
  top: 52px;
  left: 10px;
  width: 100%;
  background: black;
  color: white;
  border: 1px solid white;
  border-top: none;
  border-radius: 0 0 25px 25px;
  max-height: 300px;
  overflow-y: auto;
  z-index: 100;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown li {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
  border-bottom: 1px solid white;
}

.dropdown li:last-child {
  border-bottom: none;
}

.dropdown li:hover {
  background-color: #14d578;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: bold;
}

.common-followers {
  font-size: 12px;
  color: #ccc;
}
