footer {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);

  z-index: 10;
  background-color: white;
  padding: 20px;
  border-radius: 50px;
  height: 50px;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid;
  width: 435px;

  display: flex;          /* Para que justify-content funcione */
  justify-content: center;
  align-items: center;    /* Centra verticalmente el contenido dentro del footer */
}


.footer-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 60px;
  width: 430px;
}

.nav-button {
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 80px;
}

.nav-button:hover {
  background-color: #14d578;
  border-radius: 100px;
}
