<div class="login-container">
  <div class="logo">
    <img src="assets/logo-with-letters.svg" alt="WeFit Logo" />
  </div>

  <h3>¿Tienes problemas para entrar?</h3>

  <p class="text">Introduce tu correo electrónico y te enviaremos un enlace para que vuelvas a entrar en tu cuenta.</p>

  <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
    <input type="email" name="email" ngModel placeholder="Correo electrónico" required />
    <button type="submit">Enviar código de recuperación</button>
  </form>

  <p class="register-text">
    ¿No tienes cuenta? <a href="#">Regístrate</a>
  </p>
</div>
