<div class="login-container">
  <div class="logo">
    <img src="assets/logo-with-letters.svg" alt="WeFit Logo" />
  </div>

  <h3>{{ 'forgot-password.recover-text' | translate}}</h3>

  <p class="text">{{ 'forgot-password.instructions' | translate }}</p>

  <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
    <input type="email" name="email" ngModel [placeholder]="'forgot-password.mail' | translate" required />
    <button type="submit">{{ 'forgot-password.code-button' | translate }}</button>
  </form>

  <p class="register-text">
    {{ 'forgot-password.no-account-text' | translate }} <a href="#">{{ 'forgot-password.register-link' | translate }}</a>
  </p>
</div>
