<div class="wrapped">
  <footer>
    <div class="footer-container">
      <!-- Social -->
      <button class="nav-button">
        <img ngSrc="/assets/social-icon.svg" alt="social" height="32" width="32" />
      </button>

      <!-- Buscar usuarios -->
      <button class="nav-button" [routerLink]="['/user-search']">
        <img ngSrc="/assets/search-icon.svg" alt="search" height="32" width="32" />
      </button>

      <!-- HOME -->
      <button
        class="nav-button"
        id="map-container"
        (click)="goHome()"
        [routerLink]="['/home']"
      >
        <img ngSrc="/assets/logo.svg" alt="map" height="32" width="32" id="map" />
      </button>

      <!-- Dietas -->
      <button class="nav-button" [routerLink]="['/diets']">
        <img ngSrc="/assets/diets-icon.svg" alt="recipe" height="32" width="32" />
      </button>

      <!-- Perfil -->
      <button class="nav-button" [routerLink]="['/userProfile']">
        <img ngSrc="/assets/profile-icon.svg" alt="user" height="32" width="32" />
      </button>
    </div>
  </footer>
</div>
