<div class="login-container">
  <div class="logo">
    <img src="assets/logo-with-letters.svg" alt="WeFit Logo" />
    <!--h1><span class="green-text">We</span>Fit</h1-->
  </div>

  <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
    <input type="email" name="email" ngModel [placeholder]="'login.mail' | translate" required />
    <input type="password" name="password" ngModel [placeholder]="'login.password' | translate" required />
    <button type="submit">{{ 'login.button-login-session' | translate}}</button>
  </form>

  <p class="register-text">
    {{ 'login.text-account' | translate }} <a [routerLink]="['/register']">{{ 'login.text-register' | translate }}</a>

  </p>
  <p class="forgot-password">
    <a href="#">{{ 'login.forgot-password' | translate }}</a>
  </p>
</div>

