<div class="register-container">
  <div class="logo">
    <img src="assets/logo-with-letters.svg" alt="WeFit Logo" />
  </div>

  <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
    <input
      type="text"
      name="user"
      ngModel
      [placeholder]="'register.user' | translate"
      required
      [class.is-invalid]="user.usernameError" />
    <div *ngIf="user.usernameError" class="error-message">
      {{ user.usernameError }}
    </div>

    <input
      type="email"
      name="email"
      ngModel
      [placeholder]="'register.mail' | translate"
      required
      [class.is-invalid]="user.emailError" />
    <div *ngIf="user.emailError" class="error-message">
      {{ user.emailError }}
    </div>

    <input
      type="password"
      name="password"
      ngModel
      [placeholder]="'register.password' | translate"
      required
      [class.is-invalid]="user.passwordError" />
    <div *ngIf="user.passwordError" class="error-message">
      {{ user.passwordError }}
    </div>

    <button type="submit">{{ 'register.register-button' | translate }}</button>
  </form>

  <!-- Mensaje de éxito -->
  <div *ngIf="user.successMessage" class="alert alert-success">
    {{ user.successMessage }}
  </div>

  <!-- Mensaje de error -->
  <div *ngIf="user.errorMessage" class="alert alert-danger">
    {{ user.errorMessage }}
  </div>

  <!-- Esperando verificación -->
  <div *ngIf="user.awaitingVerification" class="alert alert-info">
    Esperando verificación de correo electrónico...
    <br />
    <div class="resend-container" *ngIf="user.awaitingVerification">
      <button type="button" (click)="resendVerificationEmail()">Reenviar correo</button>
    </div>
  </div>

  <p class="login-text">
    {{ 'register.text-already' | translate }} <a routerLink="/login">{{ 'register.login-link' | translate }}</a>
  </p>
</div>
