<div class="overlay" (click)="onOverlayClick($event)">
  <div class="modal-window" (click)="$event.stopPropagation()">
    <div class="alert-image">
      <img src="assets/alert-triangle.svg" alt="Alerta" />
    </div>
    <h2>{{ 'delete-event.delete' | translate }}</h2>
    <p>{{ 'delete-user.confirmation' | translate }} <strong>"{{ eventTitle }}"</strong>?</p>
    <div class="buttons">
      <button type="button" (click)="onAccept($event)">{{ 'delete-user.accept' | translate }}</button>
      <button type="button" (click)="onCancel($event)">{{ 'delete-user.cancel' | translate }}</button>
    </div>
  </div>
</div>
