<div class="overlay">
  <div class="modal-window">
    <h2>Filtrar Eventos</h2>

    <label for="date">Fecha:</label>
    <input id="date" type="date" [(ngModel)]="filters.date" class="field" />

    <label for="hourMinimum">Hora inicial:</label>
    <input id="hourMinimum" type="time" [(ngModel)]="filters.hourMinimum" class="field" />

    <label for="hourMaximum">Hora final:</label>
    <input id="hourMaximum" type="time" [(ngModel)]="filters.hourMaximum" class="field" />

    <label for="sport">Deporte:</label>
    <select id="sport" [(ngModel)]="filters.sport" class="field">
      <option value="">Seleccione deporte</option>
      <option *ngFor="let s of sports" [value]="s">{{ s }}</option>
    </select>

    <label for="maxParticipants">Máximo de Participantes:</label>
    <input id="maxParticipants" type="number" [(ngModel)]="filters.maxParticipants" class="field" min="1"/>

    <label for="privacy">Privacidad:</label>
    <select id="privacy" [(ngModel)]="filters.privacy" class="field">
      <option value="">Seleccione privacidad</option>
      <option *ngFor="let p of privacies" [value]="p">{{ p }}</option>
    </select>

    <div class="buttons">
      <button id="cancelButton" type="button" (click)="applyFilters()">Aplicar Filtros</button>
      <button id="ApplyButton" type="button" (click)="cancel()">Cancelar</button>
    </div>
  </div>
</div>
