/* Estilos generales */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Logo y título */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.logo img {
  width: 200px;
}

.logo h1 {
  font-size: 28px;
  font-weight: bold;
}

.text {
  margin-bottom: 50px;
  margin-left: 33%;
  margin-right: 33%;
  text-align: center;
}

.check {
  color: #14d578;
}
