<div class="best-friends-container">
  <div class="header">
    <button class="back-button" (click)="goBack()">
      <svg  xmlns="http://www.w3.org/2000/svg"  width="30"  height="30"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="material-icons"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
    </button>
    <h1>Añadir mejores amigos</h1>
    <button class="save-button" (click)="showConfirm()">
      Guardar
    </button>
  </div>

  <div class="divider"></div>

  <!-- Indicador de carga -->
  <div *ngIf="isLoading" class="loading-container">
    <app-loading-circle
      [size]="30"
      color="#14a37e">
    </app-loading-circle>
  </div>

  <div class="friend-list">
    <button (click)="toggleUserSelection(user)" class="friend-card"
            [ngClass]="{'selected': isUserSelected(user)}"
            *ngFor="let user of followedUsers">
      <app-user-template-image-name
        [username]="user.username"
        [photoURL]="user.image_url">
      </app-user-template-image-name>
    </button>

    <div class="no-friends" *ngIf="followedUsers.length === 0 && !isLoading">
      <p>Sigue a usuarios para poder añadirlos a mejores amigos</p>
    </div>
  </div>

  <app-confirmation-question
    [title]="'¿Estás seguro?'"
    [message]="'Se guardarán los usuarios seleccionados como mejores amigos'"
    [confirmText]="'Si'"
    [cancelText]="'No'"
    [visible]="showConfirmation"
    (confirm)="onConfirm()"
    (cancel)="onCancel()">
  </app-confirmation-question>
</div>
