<div class="custom-card" (click)="onCardClick()" role="button" [attr.aria-label]="'Ver evento ' + title">
  <img [src]="image_route" alt="Imagen del deporte" class="custom-card-img" />

  <div class="custom-card-body">
    <h5 class="custom-card-title">{{ title }}</h5>

    <p class="custom-card-text">
      📍 <strong>{{ 'event-card.location' | translate }}</strong> {{ place }}
    </p>

    <p class="custom-card-text">
      👥 <strong>{{ 'event-card.participants' | translate }}</strong> {{ participants }} / {{ maxParticipants }}
    </p>

    <p class="custom-card-text">
      📅 <strong>{{ 'event-card.date' | translate }}</strong> {{ date }}<br />
      ⏰ <strong>{{ 'event-card.time' | translate }}</strong> {{ hour }}
    </p>

    <button class="custom-card-button">{{ 'event-card.view' | translate }}</button>
  </div>
</div>
