.map-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.map {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.ol-overlaycontainer-stopevent {
  pointer-events: none;
}

.event-marker-container {
  pointer-events: auto;
}
app-event-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
.current-location-marker {
  pointer-events: none;
  z-index: 100;
}
.current-location-marker img {
  width: 30px;
  height: 30px;
  display: block;
}
