<div class="login-container">
  <div class="logo">
    <img src="assets/logoPlusTexto.svg" alt="WeFit Logo" />
    <!--h1><span class="green-text">We</span>Fit</h1-->
  </div>

  <h3>Modifique su contraseña</h3>

  <p class="text">Introduce una nueva contraseña</p>

  <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
    <input type="password" name="password" ngModel placeholder="Nueva contraseña" required />
    <input type="password" name="confirmPassword" ngModel placeholder="Repetir contraseña" required />
    <button type="submit">Confirmar contraseña</button>
  </form>

</div>
