<div class="login-container">
  <div class="logo">
    <img src="assets/logoPlusTexto.svg" alt="WeFit Logo" />
    <!--h1><span class="green-text">We</span>Fit</h1-->
  </div>

  <h3>{{ 'modify-password.head-text' | translate}}</h3>

  <p class="text">{{ 'modify-password.order' | translate}}</p>

  <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
    <input type="password" name="password" ngModel [placeholder]="'modify-password.new-password' | translate" required />
    <input type="password" name="confirmPassword" ngModel [placeholder]="'modify-password.repeat-password' | translate" required />
    <button type="submit">{{ 'modify-password.confirm-password' | translate}}</button>
  </form>

</div>
