<div class="register-container">
  <div class="logo">
    <img src="assets/logoPlusTexto.svg" alt="WeFit Logo" />
    <!--h1><span class="green-text">We</span>Fit</h1-->
  </div>

  <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
    <input type="text" name="user" ngModel placeholder="Usuario" required />
    <input type="email" name="email" ngModel placeholder="Correo electrónico" required />
    <input type="password" name="password" ngModel placeholder="Contraseña" required />
    <button type="submit">Registrarse</button>
  </form>

  <p class="login-text">
    ¿Ya tienes cuenta? <a href="#">Inicia sesión</a>
  </p>
</div>
